@page "/profiles"
@using BlazorECommerceApp.Interfaces
@using BlazorECommerceApp.DTOs
@inject IUserService UserService
<h3>ProfileList</h3>

@if (profiles == null)
{
    <span>Loading..</span>
}
else if (profiles.Count() == 0)
{
    <span>No profiles found</span>
}
else
{
    <ul>
        @foreach (var profile in profiles)
        {

            <li>@profile.Name</li>

        }
    </ul>
}


